$medium-image: 300px;

@mixin show-me-boxes($border-size, $color) {
    border: $border-size solid $color;
    background-color: lighten($color, 30%);
}

img {
    height: $medium-image;
    width: $medium-image;
    border: 1px solid lightgrey;
}

.octocat {
  float: left;
  margin: 5px 5px 0px;
}

.image-footer {
  border-bottom: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.authors {
  float: right;
  padding-left: 5px;

  img {
  height: 20px;
  width: 20px;
  border: 0;
  }
}

li {
  list-style: none;
}

.image-footer {
  font-weight: bold;
  font-size: 14px;
}

.image-caption {
  color: grey;
  float: right;
  padding-right: 10px;

  a {
    text-decoration: none;
    color: black;
  }
}


.image-number {
  color: lightgrey;
}

.image-number::before {
  content: "#";
}